*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#container{

    padding: .5rem;
    margin: 0;
    font-size: 0;
}
#container img{
    border-radius: .1rem;
    -moz-box-shadow:7px 7px 20px #333333; -webkit-box-shadow:7px 7px 20px #333333; box-shadow:7px 7px 20px #333333;
    width: 100%;
    border: 1px solid black;
}
.out{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    left: 0;
    transition: all 1s ease;
    background: rgba(0,0,0,.6);
    color: white;

}
.out label,.out input,.out select{
    display: inline-block;
    width: 40%;
    font-size: .25rem;
}
.in{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    left: 0;
    transition: all 1s ease;
    background: rgba(0,0,0,.6);
    color: white;

}
.in label,.in input,.in select{
    display: inline-block;
    width: 40%;
    font-size: .25rem;
}
#btn{
    width: 100%;
    position:fixed;
    bottom: 0;
    font-size: .3rem;
}
#btn .out-btn,#btn .in-btn{
    display: inline-block;
    text-align: center;
    padding: .2rem 0;
    width: 50%;
    background: grey;
    color: white;
}
.hidden{
    display: none!important;
}